{% extends 'adminlte/base.html' %}
{% block title %}{{ build_page_title }}{% endblock %} 
{% block page_name %}
        People
{% endblock %}
{% block breadcrumbs %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Alfresco</a></li>
        <li class="active">People</li>
      </ol>
{% endblock breadcrumbs %}

{% block content %}
{% load render_table from django_tables2 %}
   
    {% if people %}
    <table class="table table-bordered table-striped" id="people">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Quota Used</th>
        <th>Id</th>
        <th>Enabled</th>
        <th>Email</th>
      </tr>
      {% for person in people %}
      <tr>
        <td>{{ person.entry.firstName }}</td>
        <td>{{ person.entry.lastName }}</td>
        <td>{{ person.entry.quotaUsed }}</td>
        <td>{{ person.entry.id }}</td>
        <td>{{ person.entry.enabled }}</td>
        <td>{{ person.entry.email }}</td>        
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <strong>There are no people.</strong>
    {% endif %}

{% endblock %}

<script>
$(document).ready(function(){
    $('#people').DataTable();
});
</script>
