{% extends 'adminlte/base.html' %}
{% block page_name %}
        Sites
{% endblock %}
{% block breadcrumbs %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-archive"></i> Alfresco</a></li>
        <li class="active">Sites</li>
      </ol>
{% endblock breadcrumbs %}

{% block content %}
{% load render_table from django_tables2 %}
   
    {% if sites %}
    <table class="table table-bordered table-striped" id="sites">
      <tr>
        <th>Role</th>
        <th>Visibility</th>
        <th>Guid</th>
        <th>Id</th>
        <th>Preset</th>
        <th>Title</th>
      </tr>
      {% for site in sites %}
      <tr>
        <td>{{ site.entry.role }}</td>
        <td>{{ site.entry.visibility }}</td>
        <td>{{ site.entry.guid }}</td>
        <td>{{ site.entry.id }}</td>
        <td>{{ site.entry.preset }}</td>
        <td>{{ site.entry.title }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <strong>There are no site.</strong>
    {% endif %}

{% endblock %}

<script>
$(document).ready(function(){
    $('#sites').DataTable();
});
</script>
